version: '3.9'
services:
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/pidel
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=admin
    volumes:
      - /Users/generalsuslik/IdeaProjects/pidel/pidel_backend/src/main/resources/images:/pidel/resources/images
  db:
    image: postgres:15-alpine
    container_name: postgres_db_pidel
    environment:
      POSTGRES_DB: pidel
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
volumes:
  postgres-data: